*{
    font-family: 'Red Hat Text', serif;;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCount{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.upperCountPaper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: hsl(236, 21%, 20%);
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.upperCountPaper span{
    letter-spacing: normal;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: hsl(345, 95%, 64%);
    line-height: 0;
    position: absolute;
    top: 60px;
}

.lowerCountPaper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: hsl(236, 21%, 26%);
    height: 50%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.lowerCountPaper span{
    letter-spacing: normal;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: hsl(345, 95%, 68%);
    line-height: 0;
    position: absolute;
    bottom: 60px;
}

.ballDetailLeft{
    position: absolute;
    left: -5%;
    height: 10%;
    width: 10%;
    background-color: hsl(234, 17%, 12%);
    border-radius: 0px 10px 10px 0px;
}

.ballDetailRight{
    position: absolute;
    right: -5%;
    height: 10%;
    width: 10%;
    background-color: hsl(234, 17%, 12%);
    border-radius: 10px 0px 0px 10px;
}

.timeText {
    font-family: 'Red Hat Text', serif;
    color: white;
    letter-spacing: 0.3rem;
    font-size: 0.75rem;
    color: hsl(237, 18%, 59%)
}